/* permet d'initiliser nos couleurs principales pour faciliter par la suite le code*/
:root{
    --violet : #7e57c2;
    --rose: #f8bbd0;
    --bleu: #81d4fa;
    --text-dark: #2e2e2e;
    --white: #ffffff;
}

/*  Navbar*/
header{
    width: 100%;
    background-color: white;
    box-shadow:  0 3px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 10px;
}
.navbar{
    max-width: 1200px;
    margin: 0 auto ;
    padding: 0px 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo img {
  height: 55px;
  vertical-align: middle;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 22px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--violet);
  font-weight: 500;
  transition: color 0.3s;
}
.nav-links li a:hover,
.nav-links li a.active {
  color: var(--bleu);
}

.btn-login {
  background-color: var(--violet);
  color: var(--white) !important;
  padding: 8px 16px;
  border-radius: 20px;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: var(--bleu);
}